*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "montserrat", Sacramento;
    color: #40514E;
}
.top-container{
    background-color: #EAF6F6;
    margin: 0;
    padding-bottom: 20px;
}
span{
    color: yellowgreen;
    text-decoration: underline;
}
p{
    font-family: "Merriweather";
    line-height: 2;
}
h1{
    font-size: 3rem;
    color: #66BFBF;
    font-family: Sacramento, cursive;
    padding: 100px 0 50px;
}
h2{
    margin: 0 0 20px 0;
    color: #66BFBF;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 10px;
}
h2:hover{
    transition: 0.8 ease;
    font-size: 3rem;
    transition-delay: 0.2s;
    transition-duration: 1s;
}
h3{
    color: #11999E;
}
hr{
    border: 6px dotted #EAF6F6;
    border-top: none;
    width: 25%;
    margin: 100px auto;
}

.devv{
    width: 60%;
    margin-top: 20px;
}
.caf{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-top: 100px;
}
.intro{
    width: 50%;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.computer{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.glove{
    width: 30%;
    float: right;
    margin-left: 20px;
}
.get_touch{
    width: 80%;
    margin: auto;
}
button{
    margin: 50px 0;
    border: none;
}
ul, li{
    list-style: none;
    display: flex;
    width: 70%;
    margin: auto;
}
footer{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
a{
    color: #11999E ;
    font-family: Monserrat;
    margin: 1.25rem 0.16rem;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #4d2bd6);
    background-image: -moz-linear-gradient(top, #3498db, #4d2bd6);
    background-image: -ms-linear-gradient(top, #3498db, #4d2bd6);
    background-image: -o-linear-gradient(top, #3498db, #4d2bd6);
    background-image: linear-gradient(to bottom, #3498db, #4d2bd6);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: "montserrat", Sacramento;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #7c9e0c;
    background-image: -webkit-linear-gradient(top, #7c9e0c, #1e7a0a);
    background-image: -moz-linear-gradient(top, #7c9e0c, #1e7a0a);
    background-image: -ms-linear-gradient(top, #7c9e0c, #1e7a0a);
    background-image: -o-linear-gradient(top, #7c9e0c, #1e7a0a);
    background-image: linear-gradient(to bottom, #7c9e0c, #1e7a0a);
    text-decoration: none;
  }